.Snow {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

.Snowflake {
  display: inline-block;
  opacity: 0;
  margin: 0;
  padding: 0;
  animation: fall 10s linear infinite;
  position: relative;
}
